

#titlelashoras{
    display: flex;
    margin-left: 45%;

}


div.divcarta {
    display: flex;
    position: relative;
    left: 10%;

    font-style: italic;
    color: brown;
}



div.divcafe {
    display: flex;
    position: relative;
    left: 45%;
    top: 100px;
    font-style: italic;

}

div.divcontacto {
    display: flex;
    position: relative;
    left: 80%;
    top: 100px;

    font-style: italic;

}


body {
    background-color:bisque;



}

footer.footerprincipal {
 
    margin-top: 50%;
    margin-bottom: 3%;

}


