



body {
    background-color:bisque;



}


#contacto{
    display: flex;
    margin-left: 47%;



}

#comentarios{
    display: block;
    width: 300px;
    height: 150px;
    position: relative;
    left: 165px;

}

form.caja{
position: relative;
left: 35%;

}

h1.datos1{
position: relative;
left: 8%;

}

#enviar{
    position: relative;
    left: 13.7%;

}

h2.h2{
    text-align: center;


}





